$background-color: #f5f5f5;
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, .7);
$color-white-harsh-transparent: rgba(255, 255, 255, .9);
$color-white-less-transparent: rgba(255, 255, 255, .4);
$color-black: #000;
$color-black-transparent: rgba(0, 0, 0, .7);
$color-black-less-transparent: rgba(0, 0, 0, .4);
$color-off-black: #0b0b0b;
$color-grey: #727272;
$color-light-grey: #8b8b8b;
$color-light-grey-transparent: rgba(177, 177, 177, .67);
$color-dark-grey: #5d5d5d;
$color-very-dark-grey: #343434;
$color-lightest-grey: #eee;
$color-silver: #9d9d9d;
$color-light-silver: #c0c0c0;
$color-washed-grey: #d8d8d8;
$color-green: #b4db8a;
$color-dark-green: #417505;
$color-emerald: #87d37c;
$color-dark-emerald: #26a65b;
$color-red: #ef4836;
$color-light-red: #ec644b;

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 300;
	background: $background-color;
}

strong {
	font-weight: 400;
}

.modal-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 15;

	display: none;
	width: 100%;
	height: 100%;

	background: $color-black-transparent;

}

.modal-container__inner {
	display: table-cell;

	vertical-align: middle;
}

.modal-container__box {
	width: 50%;
	margin: 0 auto;

	border-radius: 6px;
}

.modal-container__header {
	padding: 10px 18px;

	font-size: 2em;
	font-weight: 400;
	color: $color-white;
	text-transform: uppercase;

	background: $color-off-black;

	border-radius: 6px 6px 0 0;
}

.modal-container__title {
	&:before {
		display: inline-block;
		margin: 0 10px 0 0;

		font-family: 'FontAwesome', sans-serif;
		color: $color-white;

		content: '\f07c';
	}
}

.modal-container__controls {
	cursor: pointer;
}

.modal-container__body {
	padding: 0 1% 1%;
	overflow: hidden;

	background: $color-white;

	border-radius: 0 0 6px 6px;
}

.modal-container__information {
	float: left;
	width: 75%;
}

.modal-container__image {
	width: 100%;
}

.modal-container__description {
	padding: .5em;

	color: $color-white;

	background: $color-very-dark-grey;

	border-radius: 0 0 6px 6px;
}

.modal-container__statistics {
	float: left;
	width: 25%;

	color: $color-white;

	background: $color-very-dark-grey;

	border-radius: 0 0 6px;

	* > h1 {
		display: inline-block;
		padding: 0;
		margin: 0 0 .2em;

		font-size: 1.2em;
		font-weight: 400;
		text-align: left;

		&:before {
			display: inline-block;
			margin: 0 2px 0 0;
			content: '\BB';
		}
	}
}

.modal-container__rating {
	padding: 10px;
	margin: 0;

	border-color: $color-white;
	border-style: solid;
	border-width: 0 0 2px;
}

.modal-container__stars {
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-type: none;

	font-size: 1.2em;
	text-align: center;
}

.modal-container__star {
	display: inline-block;
	padding: 0;
	margin: 0 2px;

	list-style: none;
	list-style-type: none;
}

.modal-container__heading {
	h1 {
		padding: 0;
		margin: 10px 0 0 10px;
	}
}

.modal-container__technologies {
	padding: 7px 10px 10px;
	margin: 0;
	overflow: hidden;
	list-style: none;
	list-style-type: none;

	border-color: $color-white;
	border-style: solid;
	border-width: 0 0 2px;
}

.modal-container__language {
	position: relative;

	display: block;
	float: left;
	width: 100%;
	height: 40px;
	padding: 8px 8px 0 45px;
	margin: 3px 0 0;
	overflow: hidden;

	color: $color-very-dark-grey;
	text-overflow: ellipsis;
	text-transform: uppercase;

	list-style: none;
	list-style-type: none;

	background: $color-lightest-grey;

	border-radius: 6px;

	&:before {
		position: absolute;
		top: 1px;
		left: 10px;

		font-size: 1.8em;
		color: $color-very-dark-grey;
	}

	&.modal-container__language--html {
		&:before {
			font-family: 'FontAwesome', sans-serif;

			content: '\f13b';
		}
	}

	&.modal-container__language--css {
		&:before {
			font-family: 'FontAwesome', sans-serif;

			content: '\f13c';
		}
	}

	&.modal-container__language--javascript {
		&:before {
			top: 6px;
			font-family: 'FontMfizz', sans-serif;

			content: '\f130';
		}
	}

	&.modal-container__language--ruby {
		&:before {
			top: 6px;
			font-family: 'FontMfizz', sans-serif;

			content: '\f15a';
		}
	}

	&.modal-container__language--rails {
		&:before {
			top: 6px;
			font-family: 'FontMfizz', sans-serif;

			content: '\f15b';
		}
	}

	&.modal-container__language--mysql {
		&:before {
			top: 6px;
			font-family: 'FontMfizz', sans-serif;

			content: '\f140';
		}
	}

	&.modal-container__language--php {
		&:before {
			top: 6px;
			font-family: 'FontMfizz', sans-serif;

			content: '\f14f';
		}
	}

	&.modal-container__language--responsive {
		&:before {
			top: 6px;
			font-family: 'FontMfizz', sans-serif;

			content: '\f13b';
		}
	}
}

.modal-container__link {
	padding: 10px;

	font-size: 1.2em;
	color: $color-white;
	text-align: center;
	text-transform: uppercase;

	a {
		color: $color-white !important;
	}

	a:link {
		color: $color-white !important;
	}

	a:visited {
		color: $color-white !important;
	}

	a:hover {
		color: $color-white !important;
	}

	a:active {
		color: $color-white !important;
	}
}

.scrolling-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 14;

	padding: 10px 15px;

	color: $color-white;

	background: $color-black-transparent;

	opacity: 0;

	transition: opacity .2s ease-out;

	&.show {
		cursor: pointer;
		opacity: 1;
	}
}

p {
	padding: 0;
	margin: 0;
}

a {
	font-weight: inherit;
	color: $color-silver !important;
	text-decoration: none;
}

a:link {
	font-weight: inherit;
	color: $color-silver !important;
	text-decoration: none;
}

a:active {
	font-weight: inherit;
	color: $color-silver !important;
	text-decoration: none;
}

a:hover {
	font-weight: inherit;
	color: $color-silver !important;
	text-decoration: underline !important;
}

a:visited {
	font-weight: inherit;
	color: $color-silver !important;
	text-decoration: none;
}

.button--messageme {
	display: inline-block;
	padding: 6px 17px;

	text-transform: uppercase;

	background: $color-white-transparent;

	border-color: $color-grey;
	border-style: solid;
	border-width: 3px;
}

.portfolio-icon {
	position: relative;
	top: -62.5px;

	width: 0;
	height: 0;
	margin: 0 auto;

	border: 62.5px solid transparent;
	border-bottom-color: $color-dark-grey;

	&:after {
		position: absolute;
		top: 62.5px;
		left: -62.5px;

		width: 0;
		height: 0;

		border: 62.5px solid transparent;
		border-top-color: $color-dark-grey;

		content: '';
	}
}


.portfolio-icon__symbol {
	position: absolute;
	z-index: 10;

	margin: 24px 0 0 -8px;

	font-size: 3em;
	font-weight: 400;
	color: $color-white;

	.fa {
		margin: 0 -21px;
	}
}

.portfolio-icon__label {
	position: absolute;
	top: 80px;
	right: -102px;
	left: -114px;
	z-index: 12;

	padding: 3px;

	font-size: 1.8em;
	font-weight: 400;

	background: $color-white-transparent;
}

.project-about__inner {
	position: relative;

	max-width: 1046px;
	padding: 0 200px 0 15px;
	margin: 0 auto;
}

.project-icon {
	position: relative;
	top: -62.5px;

	width: 0;
	height: 0;

	border: 62.5px solid transparent;
	border-bottom-color: $color-dark-grey;

	&:after {
		position: absolute;
		top: 62.5px;
		left: -62.5px;

		width: 0;
		height: 0;

		border: 62.5px solid transparent;
		border-top-color: $color-dark-grey;

		content: '';
	}
}

.project-icon__symbol {
	position: absolute;
	z-index: 10;

	margin: 24px 0 0;

	font-size: 3em;
	font-weight: 400;
	color: $color-white;

	.fa {
		margin: 0 -21px;
	}
}

.project-icon__name {
	position: absolute;
	top: 12px;
	left: 26px;
	z-index: 12;

	padding: 3px 12px;

	font-size: 1.8em;
	font-weight: 400;
	white-space: nowrap;

	background: $color-white-transparent;
}

.project-icon__type {
	position: absolute;
	top: 64px;
	left: 26px;
	z-index: 12;

	padding: 3px 12px;

	font-size: 1.5em;
	font-weight: 400;

	background: $color-white-transparent;
}

.project-details {
	position: absolute;
	top: 0;
	right: 15px;

	max-width: 144px;
}

.project-details__rating {
	display: inline-block;
	padding: 10px 14px;

	background: $color-washed-grey;

	border-radius: 6px;
}

.project-details__stars {
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-type: none;

	font-size: 1.2em;
	text-align: center;
}

.project-details__star {
	display: inline-block;
	padding: 0;
	margin: 0 2px;

	list-style: none;
	list-style-type: none;
}

.project-details__languages {
	display: block;
	padding: 0;
	margin: 0 0 3px;
	overflow: hidden;
	list-style: none;
	list-style-type: none;
}

.project-details__language {
	position: relative;
	display: block;
	float: left;
	padding: 23px;
	margin: 3px 0 0;
	list-style: none;
	list-style-type: none;

	background: $color-washed-grey;

	border-radius: 6px;

	&:nth-child(3n+2) {
		margin: 3px 3px 0;
	}

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;

		font-size: 1.8em;
		color: $color-white;

		transform: translate(-50%, -50%);
	}

	&.project-details__language--html {
		&:before {
			font-family: 'FontAwesome', sans-serif;

			content: '\f13b';
		}
	}

	&.project-details__language--css {
		&:before {
			font-family: 'FontAwesome', sans-serif;

			content: '\f13c';
		}
	}

	&.project-details__language--javascript {
		&:before {
			font-family: 'FontMfizz', sans-serif;

			content: '\f130';

			transform: translate(-41%, -33%);
		}
	}

	&.project-details__language--ruby {
		&:before {
			font-family: 'FontMfizz', sans-serif;

			content: '\f15a';

			transform: translate(-41%, -33%);
		}
	}

	&.project-details__language--rails {
		&:before {
			font-family: 'FontMfizz', sans-serif;

			content: '\f15b';

			transform: translate(-41%, -33%);
		}
	}

	&.project-details__language--mysql {
		&:before {
			font-family: 'FontMfizz', sans-serif;

			content: '\f140';

			transform: translate(-41%, -33%);
		}
	}

	&.project-details__language--php {
		&:before {
			font-family: 'FontMfizz', sans-serif;

			content: '\f14f';

			transform: translate(-41%, -33%);
		}
	}

	&.project-details__language--responsive {
		&:before {
			font-family: 'FontMfizz', sans-serif;

			content: '\f13b';

			transform: translate(-41%, -33%);
		}
	}
}

.project-details__link {
	display: block;
	padding: 10px 14px;

	text-transform: uppercase;

	background: $color-washed-grey;

	border-radius: 6px;
}

.portfolio-navigation {
	padding: 15px 0;
	margin: 0;

	font-weight: 400;
	color: $color-light-grey;

	background: $color-white;

	border-color: $color-very-dark-grey;
	border-style: solid;
	border-width: 0 0 6px;
}

.portfolio-navigation__logo {
	width: auto;
	height: 62px;
}

.portfolio-navigation__links {
	float: right;
}

.portfolio-navigation__toggle {
	margin: 0;

	background: $color-light-silver;

	border: 0;
}

.portfolio-navigation__collapse {
	margin: 10px 0 0;
}

.portfolio-navigation__icon {
	margin: 0 8px 0 0;
}

.portfolio-banner {
	position: relative;

	height: 442px;
	padding: 2em 0 0;

	background: url('../img/banner.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;

	border-color: $color-very-dark-grey;
	border-style: solid;
	border-width: 0 0 6px;

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: block;

		background: $color-light-grey-transparent;

		content: '';
	}
}

.portfolio-banner__content {
	position: relative;
	z-index: 10;
}

.portfolio-banner__photo {
	width: 180px;
	height: 180px;
	margin: 0 auto;

	background: url('../img/photo.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;

	border-radius: 100%;
}

.portfolio-banner__logo {
	width: 572px;
	margin: 3em 0 0;
}

.portfolio-about {
	padding: 2em 0;

	border-color: $color-very-dark-grey;
	border-style: solid;
	border-width: 0 0 6px;
}

.portfolio-about__content {
	max-width: 620px;
	padding: 2em 0 0;
	margin: 0 auto;

	font-weight: 300;
	text-align: center;
}

.project-about {
	padding: 2em 0;

	border-color: $color-very-dark-grey;
	border-style: solid;
	border-width: 0 0 6px;
}

.project-about__content {
	max-width: 642px;
	padding: 2em 0 0;
	margin: 0 0 0 90px;

	font-weight: 300;
	text-align: left;
}

.portfolio-collection {
	position: relative;

	padding: 2em 0 0;
	overflow: hidden;

	background-image: url('../img/portfolio.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;

	border-color: $color-very-dark-grey;
	border-style: solid;
	border-width: 0 0 6px;
}

.portfolio-collection:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	background: $color-black-less-transparent;

	content: '';
}

.portfolio-collection__video {
	position: absolute;
	right: 0;
	bottom: -6px;
	left: 0;
}

.portfolio-collection__title {
	position: relative;
	z-index: 10;
	
	margin: 0 0 .5em;

	font-size: 2em;
	font-weight: 400;
	color: $color-white;
}

.portfolio-collection__inner {
	max-width: 1046px;
	margin: 0 auto;
}

.project-design {
	position: relative;

	padding: 2em 0;

	background-image: url('../img/portfolio.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;

	border-color: $color-very-dark-grey;
	border-style: solid;
	border-width: 0 0 6px;
}

.project-design:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: $color-black-less-transparent;

	content: '';
}

.project-design__title {
	position: relative;
	z-index: 10;
	margin: 0 0 .5em;

	font-size: 2em;
	font-weight: 400;
	color: $color-white;
}

.project-design__inner {
	max-width: 1046px;
	padding: 0 15px;
	margin: 0 auto;
}

.project-design__photo {
	position: relative;
	z-index: 12;

	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	list-style: none;
	list-style-type: none;

	border-color: $color-white;
	border-style: solid;
	border-width: 6px;
}

.project-design__image {
	width: 100%;
	margin: 0 auto;
}

.portfolio-collection__group {
	padding: 0;
	margin: 0;
	overflow: hidden;

	list-style: none;
	list-style-type: none;
}

.portfolio-collection__item {
	position: relative;
	z-index: 2;

	float: left;
	width: 29.3333%;
	height: 200px;
	margin: 0 2% 2em;
	overflow: hidden;
	list-style: none;
	list-style-type: none;
	cursor: pointer;

	border-color: $color-white;
	border-style: solid;
	border-width: 6px;
}

.portfolio-collection__item:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;

	display: none;

	background: $color-black-transparent;

	content: '';
}

.portfolio-collection__item:hover:before {
	display: block;
}

.portfolio-collection__image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.portfolio-qualifications {
	margin: 2em 0 0;

	border-color: $color-very-dark-grey;
	border-style: solid;
	border-width: 0 0 6px;
}

.portfolio-qualifications__inner {
	max-width: 700px;
	margin: 0 auto;

	text-align: center;
}

.portfolio-qualifications__seperator {
	display: block;
	width: 65%;
	margin: 2em auto 0;

	border-color: $color-dark-grey;
	border-width: 6px 0 0;
}

.portfolio-qualifications__content {
	padding: 0 0 0 135px;
}

.portfolio-qualifications__group {
	padding: 0;
	margin: 0 auto 3em;
	text-align: left;
	list-style: none;
	list-style-type: none;
}

.portfolio-qualifications__item {
	margin: 2em 0;

	list-style: none;
	list-style-type: none;
}

.portfolio-qualifications__result {
	position: relative;

	float: left;
	width: 114px;
	height: 114px;
	padding: 35px 0 0;

	font-size: 1em;
	font-weight: 300;
	color: $color-white;
	text-align: center;

	background: $color-green;

	border-color: $color-dark-green;
	border-style: solid;
	border-width: 1px;
	border-radius: 100%;
}

.portfolio-qualifications__result:after {
	position: absolute;
	top: 59px;
	left: 46px;

	font-family: 'FontAwesome';
	font-size: 28px;

	content: '\f00c';
}

.portfolio-qualifications__result--uni {
	padding: 23px;

	font-size: 1.75em;
}

.portfolio-qualifications__course {
	margin: 0 0 6px;
	font-size: 1.5em;
	font-weight: 300;
}

.portfolio-qualifications__term {
	display: inline;
	padding: 6px 16px;

	font-size: 1.25em;
	font-weight: 300;

	background: $color-washed-grey;

	border-radius: 8px;
}

.portfolio-qualifications__description {
	margin: 6px 0 0;
}

.portfolio-qualifications__linkedin p {
	font-size: 2.25em;
}

.portfolio-qualifications__profile {
	margin: 1em 0 2em;
}

.portfolio-message {
	position: relative;

	padding: 2em 0;
	overflow: hidden;

	background-image: url('../img/message.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;

	border-color: $color-very-dark-grey;
	border-style: solid;
	border-width: 0 0 6px;
}

.portfolio-message:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;


	background: $color-white-less-transparent;

	content: '';
}

.portfolio-message__video {
	position: absolute;
	right: 0;
	bottom: -260px;
	left: 0;
	z-index: 1;

}

.portfolio-message__title {
	position: relative;
	z-index: 3;
	margin: 0 0 .5em;

	font-size: 2em;
	font-weight: 400;
	color: $color-white;
}

.portfolio-message__inner {
	position: relative;
	z-index: 3;

	max-width: 800px;
	padding: 0 2em;
	margin: 0 auto;

	overflow: hidden;
}

.portfolio-message__result {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 0 1em;

	color: $color-white;

	&.portfolio-message__result--error {
		background: $color-light-red;

		border-color: $color-red;
		border-style: solid;
		border-width: 2px;
		border-radius: 8px;
	}

	&.portfolio-message__result--success {
		background: $color-emerald;

		border-color: $color-dark-emerald;
		border-style: solid;
		border-width: 2px;
		border-radius: 8px;
	}
}

.portfolio-message__half {
	float: left;
	width: 50%;
}

.portfolio-message__half--right {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;

	padding: 0 0 8px;
}

.portfolio-message__label {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.portfolio-message__element {
	padding: 8px;
	margin: 4px 3px;
	overflow: hidden;

	background: $color-white-harsh-transparent;

	border-color: $color-grey;
	border-style: solid;
	border-width: 3px;
}

.portfolio-message__element--name:before {
	float: left;
	margin: 3px 6px 0;

	font-family: 'FontAwesome';
	font-size: 1.2em;
	color: $color-grey;

	content: '\f007';
}

.portfolio-message__element--email:before {
	float: left;
	margin: 3px 6px 0;

	font-family: 'FontAwesome';
	font-size: 1.2em;
	color: $color-grey;

	content: '\f0e0';
}

.portfolio-message__element--subject:before {
	float: left;
	margin: 3px 6px 0;

	font-family: 'FontAwesome';
	font-size: 1.2em;
	color: $color-grey;

	content: '\f040';
}

.portfolio-message__container {
	display: block;
	padding: 4px;

	overflow: hidden;
}

.portfolio-message__input {
	float: left;
	width: 100%;

	background: transparent;

	border: 0;
}

.portfolio-message__message {
	width: 100%;
	height: 100%;
	padding: 15px;

	background: transparent;

	border: 0;
}

.portfolio-message__element--message {
	height: 100%;
	padding: 0;
	margin: 4px 2em 0 3px;
}

.portfolio-message__buttons {
	text-align: right;
}

.portfolio-footer {
	padding: 1em;
}

.portfolio-footer__logo {
	float: left;
	width: auto;
	height: auto;
}

.portfolio-footer__developer {
	float: right;
	padding: 0 1em 0 0;

	line-height: 3em;
}

@media only screen and (max-width: 1200px) {
	.modal-container__box {
		width: 66.666%;
	}
}

@media only screen and (max-width: 846px) {
	.portfolio-collection__group {
		margin: 0 2em;
	}

	.portfolio-collection__item {
		width: 45.6666666%;
	}

}

@media only screen and (max-width: 768px) {
	.portfolio-icon {
		position: relative;
		top: -35px;

		width: 0;
		height: 0;
		margin: 0 auto;

		border: 35px solid transparent;
		border-bottom-color: $color-dark-grey;
	}

	.portfolio-icon:after {
		position: absolute;
		top: 35px;
		left: -35px;

		width: 0;
		height: 0;

		border: 35px solid transparent;
		border-top-color: $color-dark-grey;

		content: '';
	}

	.portfolio-icon__symbol {
		position: absolute;
		z-index: 10;

		margin: 10px 0 0 -5px;

		font-size: 2em;
		font-weight: 400;
		color: $color-white;
	}

	.portfolio-icon__symbol .fa {
		margin: 0 -14px;
	}

	.portfolio-icon__label {
		top: 50px;
		right: -76px;
		left: -75px;

		font-size: 1.2em;
	}

	.project-icon {
		position: relative;
		top: -35px;

		width: 0;
		height: 0;
		margin: 0 auto 70px;

		border: 35px solid transparent;
		border-bottom-color: $color-dark-grey;
	}

	.project-icon:after {
		position: absolute;
		top: 35px;
		left: -35px;

		width: 0;
		height: 0;

		border: 35px solid transparent;
		border-top-color: $color-dark-grey;

		content: '';
	}

	.project-icon__symbol {
		position: absolute;
		z-index: 10;

		margin: 12px 0 0 1px;

		font-size: 2em;
		font-weight: 400;
		color: $color-white;
	}

	.project-icon__symbol .fa {
		margin: 0 -14px;
	}

	.project-icon__label {
		top: 50px;
		right: -76px;
		left: -75px;

		font-size: 1.2em;
	}

	.project-icon__name {
		top: 52px;
		left: 50%;

		font-size: 1.5em;

		transform: translateX(-50%);
	}

	.project-icon__type {
		top: 94px;
		left: 50%;

		font-size: 1.125em;

		transform: translateX(-50%);
	}

	.portfolio-navigation {
		padding: 15px 15px 0;
	}

	.portfolio-navigation__logo {
		height: 33px;
	}

	.portfolio-navigation__links {
		float: left;
	}

	.portfolio-navigation__header {
		margin: 0 0 15px;
	}

	.portfolio-navigation__icon {
		margin: 0 5px 0 0;
	}

	.portfolio-banner {
		height: 213px;
		padding: 1em 0 0;
	}

	.portfolio-banner__photo {
		width: 80px;
		height: 80px;
	}

	.portfolio-banner__logo {
		width: 240px;
		height: auto;
		margin: 1em 0 0;
	}

	.portfolio-about__content {
		padding: 2em 2em 0;

		text-align: left;
	}

	.project-about__content {
		padding: 0;
		margin: 0 auto;
	}

	.project-about__inner {
		padding: 0 15px;
	}

	.project-details {
		position: static;
		margin: 0 auto 1em;
	}

	.portfolio-collection__title {
		font-size: 1.2em;
	}

	.project-design__inner {
		padding: 0 60px;
	}

	.portfolio-qualifications__result {
		float: none;
		margin: 0 auto .5em;
	}

	.portfolio-qualifications__content {
		padding: 0;

		text-align: center;
	}

	.portfolio-qualifications__course {
		font-size: 1.25em;
	}

	.portfolio-qualifications__term {
		font-size: 1.125em;
	}

	.portfolio-qualifications__linkedin p {
		font-size: 1.5em;
	}

	.portfolio-message__title {
		font-size: 1.2em;
	}

	.portfolio-message__inner {
		max-width: 400px;
	}

	.portfolio-message__half {
		width: 100%;
	}

	.portfolio-message__half--right {
		position: relative;

		padding: 0 3px 8px;
    }

	.portfolio-message__element--message {
		height: 160px;
		margin: 0;
    }

	.button--messageme {
		width: 100%;

		text-align: center;
    }

	.portfolio-footer {
		text-align: center;
    }

	.portfolio-footer__image {
		width: 100%;

		text-align: center;
    }

	.portfolio-footer__logo {
		float: none;
    }

	.portfolio-footer__developer {
		width: 100%;
    }

}

@media only screen and (max-width: 600px) {
	.portfolio-collection {
		background: url('../img/collection-small.jpg');
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: auto 100%;
	}

	.portfolio-collection__video {
		display: none;
	}

	.portfolio-collection__group {
		max-width: 330px;
		padding: 0 1em;
		margin: 0 auto;
	}

	.portfolio-collection__item {
		width: 100%;
		margin: 0 0 2em;
	}

	.project-about__inner {
		margin: 0 15px;
	}

	.modal-container__box {
		width: 92%;
	}
}
