$background-color: #f5f5f5;
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, .7);
$color-white-harsh-transparent: rgba(255, 255, 255, .9);
$color-white-less-transparent: rgba(255, 255, 255, .4);
$color-black: #000;
$color-black-transparent: rgba(0, 0, 0, .7);
$color-black-less-transparent: rgba(0, 0, 0, .4);
$color-off-black: #0b0b0b;
$color-grey: #727272;
$color-light-grey: #8b8b8b;
$color-light-grey-transparent: rgba(177, 177, 177, .67);
$color-dark-grey: #5d5d5d;
$color-very-dark-grey: #343434;
$color-lightest-grey: #eee;
$color-silver: #9d9d9d;
$color-light-silver: #c0c0c0;
$color-washed-grey: #d8d8d8;
$color-green: #b4db8a;
$color-dark-green: #417505;
$color-emerald: #87d37c;
$color-dark-emerald: #26a65b;
$color-red: #ef4836;
$color-light-red: #ec644b;