body{
  background-color:#fff;
}

.overlay{  
  background:rgba(0,0,0,.75);
  padding:45px 0 74px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.microsoft:hover .overlay{
    opacity:0.5;
}

.barclays:hover .overlay{
    opacity:0.5;
}

.britishgas:hover .overlay{
    opacity:0.5;
}

a:link, a:visited, a:hover, a:active
{
  text-decoration: none;
  font-weight: none;
  color: #ffffff;
}

a.backLink:link, a.backLink:visited, a.backLink:hover, a.backLink:active
{
  text-decoration: none;
  font-weight: none;
  color: #000;
}

button.updateresult{
cursor: pointer;
background-color: #e07b04;
color: #FFF;
border: none;
height: 40px;
width: 100%;
font-weight: 400;
font-size: 14px;
margin-top: 15px;
}

.index-row{
  margin-top:15px;
  margin-bottom:15px;
}

.content-box{
  padding:15px;
}

.bottombox{
  padding:0;
  height:124px;
  padding-right:10px;
}

.blue-box{
  color:#fff;
  background-color:#458fce;
}

.barclays{
  background: #00acf2 url(../img/barclays.png) no-repeat;
  height:119px;
  background-position:center;
}

.barclays h4{
  color:#fff;
  text-transform: uppercase;
  font-weight: 700;
  bottom:0;
  margin:0;
  position: absolute;
  background-color:rgba(64,64,64,0.21);
  padding:5px 136px 5px 6px;
}

.barclays span{
  font-weight:300;

}
.microsoft{
  background: #00123f url(../img/microsoft.png) no-repeat;
  height:119px;
  background-position: center;

}

.microsoft h4{
  color:#fff;
  text-transform: uppercase;
  font-weight: 700;
  bottom:0;
  margin:0;
  position: absolute;
  background-color:rgba(64,64,64,0.21);
  padding:5px 123px 5px 6px;
}

.microsoft span{
  font-weight:300;
}

.britishgas{
  background: #28b2d2 url(../img/britishgas.png) no-repeat;
  height:119px;
  background-position: center;
}

.britishgas h4{
  color:#fff;
  text-transform: uppercase;
  font-weight: 700;
  bottom:0;
  margin:0;
  position: absolute;
  background-color:rgba(64,64,64,0.21);
  padding:5px 118px 5px 6px;
}

.britishgas span{
  font-weight:300;
}

p.interviewheading{
color:#fff;
font-weight:300;
font-size:47px;
text-transform:uppercase;
line-height:45px;
padding-left:10px;
margin-bottom:0;
}

p.hardworkheading{
color:#fff;
font-weight:600;
font-size:16px;
text-transform:uppercase;
padding-left:10px;
margin-bottom:0;
}

p.interviewtxt{
color:#fff;
font-weight:300;
font-size:18px;
padding-left:10px;
margin-bottom:0;
padding-bottom:10px;
}

p.hardworktxt{
color:#fff;
font-weight:300;
font-size:16px;
padding-left:10px;
padding-top:9px;
margin-bottom:0;
padding-bottom:10px;
}

p.bottomheading{

color:#fff;
font-weight:600;
font-size:16px;
text-transform:uppercase;
padding-top:10px;
margin-bottom:0;
}

p.bottomtxt{

color:#fff;
font-weight:300;
font-size:14px;
padding-left:10px;
padding-top:9px;
margin-bottom:0;
padding-bottom:10px;
}

p.boxlink{
color:#fff;
font-weight:600;
font-size:18px;
padding-left:10px;
margin-bottom:0;
text-align:right;
padding-right:10px;
}

span.tagline{
color:#fff;
font-weight:300;
font-size:18px;
margin-top:45px;
}

.verticalLine {
    border-left: solid #fff;
    border-width:1px;
    height:50px;
    margin-left:110px;
    margin-top:31px;
}

.topbar{
  color:#FFF;
  padding: 5px 15px;
}

.topbar span{
  float:right;
  margin-left:20px;
  margin-bottom:5px;
  font-size:12px;
}

.banner{
  background:url(../img/banner1.png) #000 no-repeat center center; 
  background-size:cover;
  height:350px;
}

.offers p{
  margin:0;
  padding:5px 0;
  font-size:20px;
  font-weight:700;
  color:#FFF;
  text-align:center;
  text-transform: uppercase;
}



.newsletterform{
  display:inline;
}

.newsletter{
text-align:center;
}

footer{
  background-color:#313131;
  padding:20px 0px;
  color:#fff;
  border-top-style: solid;
  border-top-color:#46a4f4;
  border-top-width:7px;
}

footer h4{
font-size:14px;
font-weight:700;
text-transform: uppercase;
padding:0 0 5px 0;

}

footer p{
font-size:14px;
font-weight:300;
line-height:12px;
}

.bottombar{
  color:#FFF;
  padding: 5px 5px;
  background: url(../img/footerimg.png) no-repeat;
  background-position:right;
  background-size:25px;
}

.bottombar span{
  margin-right:20px;
  margin-bottom:5px;
  font-size:12px;
}

button.newsletter{
  cursor: pointer;
  background-color:#e07b04;
  color:#FFF;
  border:none;
  height:40px;
  width:139px;
  font-weight: 400;
  float:right;
  font-size:14px;
}

button.upload{
  cursor: pointer;
  background-color:#458fce;
  color:#FFF;
  border:none;
  height:40px;
  width:85px;
  font-weight: 400;

  font-size:14px;
}

input.postcode{
  width:200px;
}

input.apply{
  margin-right:10px;
}

input.cover{
  margin-right:10px;
  width:500px;
}


.searchsection h4{
font-size:20px;
font-weight:700;

color:#fff;
}

.searchsection{
  margin-top:10px;
  margin-bottom:45px;
}
.searchsection p{
font-size:16px;
font-weight:300;
padding:10px 10px 5px 0;
color:#fff;
text-align:right;
}

.searchsection span{
font-weight:700;
color:#F78741;
}

.listhead{
  background-color:#458fce;
}

.listhead p{
font-size:16px;
font-weight:300;
margin-top:10px;
padding:6px 5px 5px 5px;
color:#fff;
}

.listhead span{
color:#fff;
}

p.sort{
  float:left;
  margin-left:22px;
}

p.deschead{
  float:left;
  margin-left:-15px;
}

span.deschead{
  font-weight:700;
}

select.sortby{
  margin: 12px 0 0 6px;
  height: 30px;
  padding: 5px 9px;
  background-position: 184px 5px;
}

form.sortby{
  margin-bottom:10px;
}

.refine{
border-top:5px solid #46a4f4;
background-color:#f6f6f6;
border-left:1px solid #e9e9e9;
border-bottom:1px solid #e9e9e9;
border-right:1px solid #e9e9e9;
margin-bottom: 15px;
}

.refine h4{
  font-size: 18px;
  font-weight: 700;
  color: #000;
  padding-left:2.5px;
}

.refine p{
  font-size: 16px;
  color: #000;
  padding-left:2.5px;
  padding-top:2px;
}

.results{
  margin-top:15px;
}

img.emplogo{
max-width:110px;
clear: both;
border: 1px solid #458fce;

}

ul.resultlist{
  -webkit-padding-start: 21px;
  -webkit-margin-after: 0;
  padding-bottom:5px;
}

.listings{
  padding:0 0 0 15px;
}

.resultlisting{
  margin:0;
}

.refine span{
font-weight:300;
}

p.resulttext{
font-size: 14px;
  color: #000;
  padding-left:2.5px;
  padding-top:2px;
}

p.mand{
  text-align:right;
  font-weight: 300;
}

p.upload{
  text-align:left;
  font-weight: 300;
  font-size:12px;
}

label.apply{
border:1px solid #e9e9e9;
border-radius: 3px;
background-color: #eaeaea;
padding: 7px 20px 7px 30px;
font-size: 16px;
margin-bottom:19px;

}

.applyend{
  padding:0;
}

textarea.cover{
  width:100%;
  height:100%;
  resize:none;
  border: none;
  padding: 5px;
  margin-top:5px;
}
form.refineform{
  padding-right:2.5px;
  margin: 0 0 11px 0;
}

select.refineselect{
  width:100%;
}


button.readmore{
  cursor: pointer;
  background-color:#458fce;
  color:#FFF;
  border:none;
  height:32px;
  width:110px;
  font-weight: 600;
  font-size:12px;
}


button.applynow{
  cursor: pointer;
  background-color:#e07b04;
  color:#FFF;
  border:none;
  height:40px;
  width:125px;
  font-weight: 600;
  font-size:16px;
}

button.savejob{
  cursor: pointer;
	background-color: #458fce;
	color: #FFF;
border: none;
height: 32px;
width: 110px;
font-weight: 600;
font-size: 12px;
text-align: center;
margin-top: 5px;
clear: both;
}

.read-more{
  text-align: center;
  margin: 15px 0 10px 0;
}

.apply-now{
  text-align: left;
  margin: 20px 0 11px 3px;
}

.apply-nowfull{
  text-align: left;
  margin: 0;
  float:right;
}

input{
  width:100%;
  max-width:300px;
  padding:5px;
  height:40px;
  border: 1px solid rgba(204, 204, 204, 0);
  margin-right:30px;
}

input.radioapply
{
	clear: both;
	width: 18px;
	height: 15px;
}

form{
margin:0 0 20px 0;

}

.formLabel
{
  float: left;
  width: 42%;
  text-align: left;
  font-size: 16px;
  font-weight: none;
  text-decoration: none;
  height: 40px;
  padding: 0xp;
  line-height: 40px;
}

.formField
{
  float: left;
  width: 58%;
  margin-bottom: 10px;
  
}

.formButton
{
  float: left;
  width: 58%;
  margin-top: 30px;  
}

.registrationButton
{
  color: #666666;
  width: 48%;
  margin-left: 1%;
}

.logoutButton
{
  color: #666666;
  margin: 0 auto;
  width: 30%;
}

#actualform
{
  width: 400px;
  height: auto;
  display: table;
  clear:both;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.8);
  color: #ffffff;
  position: relative;
  top: 25%;
  /* transform: translateY(-50%); */
  text-align:left;
  padding: 20px;
  border-top-style: solid;
  border-top-color:#46a4f4;
  border-top-width:7px;
  border-bottom-style: solid;
  border-bottom-color:#46a4f4;
  border-bottom-width:7px;
}

.hiddenform
{
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top:0px;
  left:0px;
  z-index:1;
  display:none;
  text-align: center;
}

button.smallapply
{
	background-color: #e07b04;
}



/*GOOGLE MAP*/
#map-canvas {
        width: auto;
        height: 400px;
      }